@charset "UTF-8";
/*공통*/
main {
	max-width: 1024px;
	margin: 0 auto;
}

* {
	margin: 0;
	padding: 0;
}


ul,li {list-style: none;}
a{
	text-decoration: none;
	color : black;
}
section{
	display:flex;
	justify-content : space-between;
	margin: 100px 0 30px 0;
	height: 700px;
	}



/*왼쪽 박스*/
.nav-wrap {
	width:250px;
	padding: 10px;
	height : 220px;
	background-color: #EEEEEE;
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.nav-wrap ul li {
	margin: 20px 0;
}

.nav-wrap ul li a{
	font-size : 20px;
}

.nav-wrap ul li a:hover {
	color :  rgb(22, 160, 133);
}

/*가운데 박스*/
#content-center{
	display: flex;
    flex-direction: column;
    padding: 10px;
    width: 256px;
    height: 222px;
box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #EEEEEE;
}
#center-wrap {
	display: flex;
    flex-direction: column;
}
#center-wrap div{
	margin : 20px 10px;
	text-align: left;
}
#content-center h2{
	margin-left: 10px;
}

.waiting-wrap, .finish-wrap, .refund-wrap{
	text-align: center;
	font-size: 20px;
	margin: 15px 0;
}

#content-center a {
  padding: 10px -10px;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
#content-center a:hover {
  box-shadow: inset 165px 0 0 0  rgb(22, 160, 133);
  color: white;
}


/*오른쪽 박스*/
/*상품등록/삭제 박스*/

#content-wrap{
	display: flex;
	flex-direction: column;	
	width : 277px;
	height : 450px;
	padding : 10px;
	background-color: #EEEEEE;
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.product-content{
	display:flex;
	justify-content: center;
    text-align: center;
    height: 250px;
}
.product-content span {
	margin-top: 10px;
}
.product-content-icon {
	margin : 10px 5px;
	width: 100px;
	padding : 10px;
    height: 120px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
   	background-color: #EAEAEA;
    }

#content-wrap h2 {
	margin-bottom : 5px;
	margin-left : 20px; 
}

.product-content-icon i{
color:rgb(22, 160, 133);
font-size: 80px;
 }
 
#btn-product-enroll, #btn-product-delete{
	display:flex;
	flex-direction: column;
	cursor: pointer;
	}
#btn-answer{
	cursor: pointer;
}